<% @teams.each do |team| %>
  <div class="panel panel-group">
    <div class="panel-body" style="font-size: 30px;">
      <table class="table table-bordered">
        <tr>
          <% if current_player && current_player.commissioner %>
            <th><a href="/teams/<%= team.id %>"><%= team.name %></a></th>
          <% else %>
            <th><%= team.name %></a></th>
          <% end %>
        </tr>
        <% team.players.order(:name).each do |player| %>
        <tr>
          <th style="font-size: 20px;"><a href="/players/<%= player.id %>"><%= player.name %></a></th>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
  

