<div class="panel panel-default">
  <div class="panel-heading"><%= @season.year %> <%= @season.quarter %> Season Games</div>
<%# if current_player && current_player.commissioner %>
  <a href="/games/new/<%= @season.id %>" style="text-align:center; display: block;">Add New Game</a>
  <a href="/seasons/<%= @season.id %>/edit" style="text-align:center; display: block;">Edit Season Info</a>
<%# end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-bordered">
        <tr>
          <th class="col-md-1">Week</th>
          <th class="col-md-1">Stats For</th>
          <th class="col-md-1">Against</th>
          <th class="col-md-1">Scorer</th>
        </tr>
       <% @games.order(:week).each do |game| %>
        <tr>
          <th><a href="/games/<%= game.id %>"><%= game.week %></th>
          <th><a href="/games/<%= game.id %>"><%= game.team.name %></th>
          <th><a href="/games/<%= game.id %>"><%= Team.find(game.team_against).name%></th>
          <th><a href="/games/<%= game.id %>"><%= game.scorer %></th>
        </tr>
        <% end %>
    </table>
</div>



<%# if current_player && current_player.commissioner %>
  <%= link_to "Delete Season", "/seasons/#{ @season.id }", method: :delete, class: "btn btn-danger season-btn-danger" %>
<%# end %>



