<h1><%= @season.quarter %> Season for <%= @season.year %>:</h1>

<%# if current_player && current_player.commissioner %>
  <a href="/games/new/<%= @season.id %>">Add New Game</a> |
  <a href="/seasons/<%= @season.id %>/edit">Edit Season Info</a>
<%# end %>

<h2>Games</h2>
<% @games.order(:week).each do |game| %>
  <div>
    <h3><a href="/games/<%= game.id %>">Team: <%= game.team.name %> | Week: <%= game.week %></a></h3>
    <h5>Score Keeper: <%= game.scorer %></h5>
    <br>
  </div>
<% end %>

<% if current_player && current_player.commissioner %>
  <%= link_to "Delete Season", "/seasons/#{ @season.id }", method: :delete, class: "btn btn-danger" %>
<% end %>