<div class="nested-fields well container-fluid">
  <div class="name">
    <h5><%= f.object.player_name %></h5>
  </div>
  <br>
  <div class="input">
    <%= f.label :field_goal_made, "FGM" %>
    <%= f.number_field :field_goal_made, class: :text_field, step: :any%>
  </div>
  <div class="input">
    <%= f.label :field_goal_attempt, "FGA" %>
    <%= f.number_field :field_goal_attempt, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :three_point_made, "3-FGM" %>
    <%= f.number_field :three_point_made, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :three_point_attempt, "3-FGA" %>
    <%= f.number_field :three_point_attempt, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :free_throws_made, "FTM" %>
    <%= f.number_field :free_throws_made, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :free_throw_attempts, "FTA" %>
    <%= f.number_field :free_throw_attempts, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :rebounds, "Rebounds" %>
    <%= f.number_field :rebounds, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :assists, "Assists" %>
    <%= f.number_field :assists, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :steals, "Steals" %>
    <%= f.number_field :steals, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :blocks, "Blocks" %>
    <%= f.number_field :blocks, class: :text_field, step: :any %>
  </div>
  <div class="input">
    <%= f.label :fouls, "Fouls" %>
    <%= f.number_field :fouls, class: :text_field, step: :any %>
  </div>
  <div>
    <h4>Points: </h4> <%= f.object.points %>
  </div>
  <div>
    <h4>FG%: </h4> <%= f.object.field_goal_percentage %>
  </div>
  <div>
    <h4>3FG%: </h4> <%= f.object.three_point_field_goal_percentage %>
  </div>
  <div>
    <h4>FT%: </h4> <%= f.object.free_throw_percentage %>
  </div>
</div>