<div class="nested-fields well">
  <%= f.object.player_name %>
    <div>
      <%= f.label :field_goal_made, "FGM" %>
      <%= f.text_field :field_goal_made %>
    </div>
    <div>
      <%= f.label :field_goal_attempt, "FGA" %>
      <%= f.text_field :field_goal_attempt %>
    </div>
    <div>
      <%= f.label :three_point_made, "3-FGM" %>
      <%= f.text_field :three_point_made %>
    </div>
    <div>
      <%= f.label :three_point_attempt, "3-FGA" %>
      <%= f.text_field :three_point_attempt %>
    </div>
    <div>
      <%= f.label :free_throws_made, "FTM" %>
      <%= f.text_field :free_throws_made %>
    </div>
    <div>
      <%= f.label :free_throw_attempts, "FTA" %>
      <%= f.text_field :free_throw_attempts %>
    </div>
    <div>
      <%= f.label :rebounds, "Rebounds" %>
      <%= f.text_field :rebounds %>
    </div>
    <div>
      <%= f.label :assists, "Assists" %>
      <%= f.text_field :assists %>
    </div>
    <div>
      <%= f.label :steals, "Steals" %>
      <%= f.text_field :steals %>
    </div>
    <div>
      <%= f.label :blocks, "Blocks" %>
      <%= f.text_field :blocks %>
    </div>
    <div>
      <%= f.label :fouls, "Fouls" %>
      <%= f.text_field :fouls %>
    </div>
    <div>
      <%= f.label :points, "Points"%>
      <%= f.text_field :points, value: (f.object.field_goal_made*2) %>
    </div>
</div>