<p>Edit Stats</p>


<%= form_for(@game, url: "/games/#{@game.id}/", method: :patch) do |f| %>
    <div>
      <div class="row">
        <%= f.fields_for :stats, f.object.stats.order(:player_name) do |stat| %>
          <div class="col-md-2">
          <%= render 'stat_fields', f: stat %>
          </div>
        <% end %>
      </div>
    </div>
  <br>
  <%= f.submit 'Update Stats', class: "btn btn-primary"%>
  <br><br>
  <div class="stats_submit">
    <%= link_to 'Submit Stats', "/stats",class: "btn btn-danger"  %>
  </div>
  <br><br>
<% end %>