<h1>Edit Game</h1>

<%= form_for(@game, url: "/games/#{@game.id}", method: :patch) do |f| %>
  <%= f.hidden_field :season_id %>
  <div>
    Team Stats For:
    <%= f.collection_select :team_id, @teams, :id, :name %>
  </div>
  <div>
    Week:
    <%= f.text_field :week %>
  </div>
  <div>
    Scorer:
    <%= f.text_field :scorer %>
  </div>
  <%= f.submit "Edit Game" %>
<% end %>
