<p>Edit Stats</p>


<%= form_for(@game, url: "/games/#{@game.id}/", method: :patch) do |f| %>
    <div>
      <%= f.fields_for :stats do |stat| %>
        <%= render 'stat_fields', f: stat %>
      <% end %>
    </div>
  <br>
  <%= f.submit 'Update Stats', class: "btn btn-primary"%>
  <br><br>
  <%= link_to 'Submit Stats', "/stats",class: "btn btn-info"  %>
  <br><br>
<% end %>