<h1>New Game</h1>

<%= form_tag "/games", method: :post do %>
  <input type="hidden" name="season_id" value="<%= @season.id %>">
  <div>
    Team Stats For:
    <select name="team_id">
        <% @teams.each do |team| %>
          <option value=" <%= team.id %>" <%= 'selected="selected"' if team.id == @game.team_id %>>
            <%= team.name %>
          </option>
        <% end %>
    </select>
  </div>
  <div>
    Week: <input type="text" name="week">
  </div>
  <div>
    Scorer: <input type="text" name="scorer">
  </div>
  <input type="submit" name="Create Game">  
<% end %>