<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 50px;">
    Week <%= @game.week %> Matchup</div>
</div>

<div class="panel panel-default">
  <div class="panel-body season-show">
    <p><%= @game.team.name %> v <%= @team_against %></p>
  </div>
  <%# if current_player && current_player.commissioner %>
    <div class="show-buttons">
      <%= link_to "Begin Game", "/stats/#{@game.id}/create", method: :post, class: "btn btn-primary" %>
      <%= link_to "Edit Game", "/games/#{@game.id}/edit", class: "btn btn-info" %>
      <%= link_to "Delete Game", "/games/#{ @game.id }", method: :delete, class: "btn btn-danger" %>
    </div>
  <%# end %>
  <div class="season-show">
    <h5>Scorer: <%= @game.scorer %></h5>
  </div>
</div>












<%# if current_player %>
  <div>
    <%= link_to "Check Stats for this Game", "/stats/#{@game.id}/teamstats", class: "btn btn-primary"%>
  </div><br>
<%# end %>

<% if current_player && current_player.commissioner %>
  <a href="/games/<%= @game.id %>/edit">Edit Game Info</a>
<% end %> 


<%# end %>