<h1>Game Sheet Info for <%= @game.team.name %></h1>
<a href="/games/<%= @game.id %>/edit">Edit Game Info</a> 

<h2>Week: <%= @game.week %></h2>
<h2>Scorer: <%= @game.scorer %></h2>
<br>
<div>
<%= link_to "Begin Game", "/stats/#{@game.id}/create", method: :post, class: "btn btn-primary" %>
<%= link_to "Delete Game", "/games/#{ @game.id }", method: :delete, class: "btn btn-danger" %>
</div>