<% if @player.captain == true %>
  <h1><%= @player.name %> (Captain)</h1>
<% else %>
  <h1><%= @player.name %></h1>
<% end %>
<h3>Team: <%= @player.team.name %></h3>

<% @player.stats.each do |stat| %>
  Points <%= stat.points %>
<% end %>

<div>
  <%= link_to "Edit Player", "/players/#{ @player.id }/edit", class: "btn btn-warning" %>
  <%= link_to "Delete Player", "/players/#{ @player.id }", method: :delete, class: "btn btn-danger" %>
</div>