<h1>Stat Home Page</h1>

<!-- <div class="row">
  <%# @stats.each do |stat| %>
    <div class="col-md-2">
      <div>
        </h5>Game(Week): <%# stat.game.week %></h5>
      </div>
      <div>
        <a href="/players/<%# stat.player.id %>">Player: <%# stat.player.name %></a>
      </div>
      <div>
        <h5>Points:</h5> <%# stat.points %>
      </div>
      <div>
        <h5>FGM:</h5> <%# stat.field_goal_made %><br>
      </div>
      <div>
        <h5>FGA:</h5> <%# stat.field_goal_attempt %><br>
      </div>
      <div>
        <h5>FG%:</h5> <%# stat.field_goal_percentage %>% <br>
      </div>
      <div>
        <h5>3PM:</h5> <%# stat.three_point_made %><br>
      </div>
      <div>
        <h5>3PA:</h5> <%# stat.three_point_attempt %><br>
      </div>
      <div>
        <h5>3P%:</h5> <%# stat.three_point_field_goal_percentage %>%<br>
      </div>
      <div>
        <h5>FTM:</h5> <%# stat.free_throws_made %><br>
      </div>
      <div>
        <h5>FTA:</h5> <%# stat.free_throw_attempts %><br>
      </div>
      <div>
        <h5>FT%:</h5> <%# stat.free_throw_percentage %>%<br>
      </div>
      <div>
        <h5>REB:</h5> <%# stat.rebounds %><br>
      </div>
      <div>
        <h5>AST:</h5> <%# stat.assists %><br>
      </div>
      <div>
        <h5>STL:</h5> <%# stat.steals %><br>
      </div>
      <div>
        <h5>BLK:</h5> <%# stat.blocks %><br>
      </div>
      <div>
        <h5>PFL:</h5> <%# stat.fouls %>
      </div>
      <br>
    </div>
  <%# end %>
</div> -->

<% @stats.order(:id).each do |stat| %>
  <a href="/players/<%= stat.player.id %>">Week: <%= stat.game.week  %> for <%= stat.player.name %></a> <br>
<% end %>

<h1>++++++++++++++++++++++++++</h1>

<% @games.order(:week).each do |game| %>
  <a href="/stats/<%= game.id %>/teamstats">Week: <%= game.week %></a><br>
<% end %>

