<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 50px;"><%= @game.team.name %></div>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="font-size: 15px;">
    <table class="table table-bordered">
      <tr>
        <th>Player</th>
        <th>Points</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FG%</th>
        <th>3PM</th>
        <th>3PA</th>
        <th>3PG%</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>FT%</th>
        <th>REB</th>
        <th>AST</th>
        <th>STL</th>
        <th>BLK</th>
        <th>PFL</th>
      </tr>
      <% @stats.each do |stat| %>
      <tr>
        <th><a href="/players/<%= stat.player.id %>"><%= stat.player.name %></a></th>
        <th><%= stat.points %></th>
        <th><%= stat.field_goal_made %></th>
        <th><%= stat.field_goal_attempt %></th>
        <th><%= stat.field_goal_percentage %></th>
        <th><%= stat.three_point_made %></th>
        <th><%= stat.three_point_attempt %></th>
        <th><%= stat.three_point_field_goal_percentage %></th>
        <th><%= stat.free_throws_made %></th>
        <th><%= stat.free_throw_attempts %></th>
        <th><%= stat.free_throw_percentage %></th>
        <th><%= stat.rebounds %></th>
        <th><%= stat.assists %></th>
        <th><%= stat.steals %></th>
        <th><%= stat.blocks %></th>
        <th><%= stat.fouls %></th>
      </tr>
      <% end %>
    </table>
</div>














